<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Questionnaire</title>
	  <link rel="stylesheet" href="/stylesheets/questionnaire.css">
   </head>

<body>
	  <h1 class = "header" style="font-weight: bolder">User Profile</h1>
  
  
  <form>
	    <h1>Starting by filling in the following questions: </h1>
	    
    <div class="contentform">
    
    	<div class="left">
			      <div class="form-group">
			        <p class = "title">Firstname<span>*</span></p>
				        <input class = "textbox" type="text" name="firstname" value = "{{fm}}" data-rule="required"/>
           
       </div> 

            <div class="form-group">
            <p class = "title">Lastname<span>*</span></p>
            
				<input class = "textbox" type="text" name="lastname" value = "{{lm}}" data-rule="required"/>
       
			</div>

			<div class="form-group">
			<p class = "title">What Year Are You In?<span>*</span></p>	
               
				{{degree}}
			</div>	

			<div class="form-group">
			<p class = "title">What is your GPA? <span>*</span></p>
			
				<input class = "textbox" type="text" name="gpa" value = "{{grade}}" data-rule="required" />
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p class = "title">What is your major?<span>*</span></p>
				<input type="text" class = "textbox" name="major" value = "{{mj}}" data-rule="required"/>
                <div class="validation"></div>
			</div>

		



	</div>

	<div class="right">	

			<div class="form-group">
			<p class = "title"> How many hours do you expected to spend on study per week?</p>
				<input class = "textbox"type="text" name="hour" value = "{{time}}" data-rule="required"/>
                <div class="validation"></div>
			</div>	

			<div class="form-group">
			<p class = "title">Do you like challenging class?</p>	
				{{difficulty}}
			</div>

			<div class="form-group">
			<p class = "title"> Are you only interetsed in your major course?</p>

				{{other}}

			</div>

			<div class="form-group">


			<p class = "title">If you choose NO for above question, what are the other subjects you will be interested in? (Maximum 3 subjects)<span>*</span></p>	
			   
                <input class = "textbox" type="text" name="subject1" value = "{{one}}" data-rule="required"/>
                <input class = "textbox" type="text" name="subject2" value = "{{two}}" data-rule="required"/>
                <input class = "textbox" type="text" name="subject3" value = "{{three}}" data-rule="required"/>
                <div class="validation"></div>
			</div>
		
			
	</div>
	</div>
		
    <a href="/">click</a>
	
</form>	

  
</body>
</html>