
<h2>Logged in as {{userNow}}</h2>
<div class = 'text'>
	{{#each lists as |list index|}}

		<p>{{index}}. {{list.advice}}   <a href="/{{list.slug}}"><button type = "button" id = "commentButton">comments</button></a> ({{list.count}} users found this help!!!)</p>

	{{/each}}
</div>


<form method="POST" action="/result">
		<textarea name = "advice" rows="4" cols="50" placeholder="More advice ..."></textarea>
		<input type="submit" value = 'Submit Advice!'>
</form>
